<footer class="footer">
      <div class="container footer-box">
        <a href="#"><img src="../icons/logo-footer.svg" alt="logo-footer" /></a>
        <ul class="footer-contacts-list">
          <li class="footer-contacts-item">
            Тел:
            <a href="tel:+38(123)4567890" class="footer-contacts-link">
              +38 (123) 456 78 90</a
            >
          </li>
          <li class="footer-contacts-item">
            EMail:
            <a href="mailto:codingmagic@gmail.com" class="footer-contacts-link"
              >codingmagic@gmail.com</a
            >
          </li>
          <li class="footer-contacts-item">
            Facebook:
            <a href="#" class="footer-contacts-link"> CodingMagic</a>
          </li>
          <li class="footer-contacts-item">
            Twitter:
            <a href="#" class="footer-contacts-link"> CodingMagic</a>
          </li>
          <li class="footer-contacts-item">
            Instagram:
            <a href="#" class="footer-contacts-link"> CodingMagic</a>
          </li>
        </ul>
        <form class="footer-form">
          <label for="email" class="footer-label">
            <input
              id="email"
              type="email"
              name="email"
              placeholder="Ваша ел. адреса..."
              class="placeholder-email-footer"
            />
          </label>
          <button class="footer-button footer-open-modal" type="button">
            Підписатись
          </button>
          <p class="footer-text">
            *Підписавшись, Ви зможете ортимувати інформаццію про новинки на
            сайті
          </p>

          <!--модальне вікно-->
          <div class="footer-backdrop footer-is-hidden">
            <div class="footer-modal-container">
              <button type="button" class="footer-close-modal">
                <svg class="svg-close-modal" width="15" height="15">
                  <use href="../icons/x.svg"></use>
                </svg>
              </button>
              <h2 class="title-footer-modal">Дякую за підписку!</h2>
              <ul class="svg-modal-list">
                <li class="svg-modal-item top-left">
                  <a href="#" class="footer-svg-modal"
                    ><img
                      src="../icons/sword.svg"
                      alt="logo-footer"
                      width="30"
                      height="30"
                  /></a>
                </li>
                <li class="svg-modal-item top-right">
                  <a href="#" class="footer-svg-modal"
                    ><img
                      src="../icons/game-development.svg"
                      alt="logo-footer"
                      width="30"
                      height="30"
                  /></a>
                </li>
                <li class="svg-modal-item bottom-left">
                  <a href="#" class="footer-svg-modal"
                    ><img
                      src="../icons/puzzle.svg"
                      alt="logo-footer"
                      width="30"
                      height="30"
                  /></a>
                </li>
                <li class="svg-modal-item bottom-right">
                  <a href="#" class="footer-svg-modal"
                    ><img
                      src="../icons/tic-tac-toe.svg"
                      alt="logo-footer"
                      width="30"
                      height="30"
                  /></a>
                </li>
              </ul>
            </div>
          </div>
        </form>
      </div>
    </footer>