<div class="container">
        <h2 class="title title-calculate">Калькулятор</h2>
        <section class="section-calculate">
          <div class="container-calculate">
            <input
              type="text"
              placeholder="Введіть число"
              class="input-number-calculate"
              id="math-num1"
            />
            <ul class="calculate-list">
              <li class="calculate-item">
                <button class="button-calculate">+</button>
              </li>
              <li class="calculate-item">
                <button class="button-calculate">-</button>
              </li>
              <li class="calculate-item">
                <button class="button-calculate">*</button>
              </li>
              <li class="calculate-item">
                <button class="button-calculate">/</button>
              </li>
            </ul>
            <input
              type="text"
              placeholder="Введіть число"
              class="input-number-calculate"
              id="math-num2"
            />
            <button class="button-equal" id="equal">=</button>
            <input
              type="text"
              placeholder="Результат"
              class="input-number-result"
              id="math-result"
            />
          </div>
        </section>
      </div>