<section class="scientists-section">
    <div class="container">
        <h2 class="title">Обери вченого/их</h2>
        <ul class="scientists-list">
            <li class="scientists-item">
                <div class="scientists-thumb" id="Ada-Lovelace">
                    <p class="scientists-name">Ada Lovelace</p>
                    <img class="scientists-img" src="../img/ada-lovelace.jpg" alt="A scientist" width="100" height="100">
                </div>
            </li>
            <li class="scientists-item">
                <div class="scientists-thumb" id="Albert-Einstein">
                    <p class="scientists-name">Albert Einstein</p>
                    <img class="scientists-img" src="../img/albert-einstein.jpg" alt="A scientist" width="100" height="100">
                </div>
            </li>
            <li class="scientists-item">
                <div class="scientists-thumb" id="Galileo-Galilei">
                    <p class="scientists-name">Galileo Galilei</p>
                    <img class="scientists-img" src="../img/galileo-galilei.jpg" alt="A scientist" width="100" height="100">
                </div>
            </li>
            <li class="scientists-item">
                <div class="scientists-thumb" id="Hanna-Hammarström">
                    <p class="scientists-name">Hanna Hammarström</p>
                    <img class="scientists-img" src="../img/hanna-hammarström.png" alt="A scientist" width="100" height="100">
                </div>
            </li>
            <li class="scientists-item">
                <div class="scientists-thumb" id="Isaac-Newton">
                    <p class="scientists-name">Isaac Newton</p>
                    <img class="scientists-img" src="../img/isaac-newton.jpg" alt="A scientist" width="100" height="100">
                </div>
            </li>
            <li class="scientists-item">
                <div class="scientists-thumb" id="Johannes-Kepler">
                    <p class="scientists-name">Johannes Kepler</p>
                    <img class="scientists-img" src="../img/johannes-kepler.jpg" alt="A scientist" width="100" height="100">
                </div>
            </li>
            <li class="scientists-item">
                <div class="scientists-thumb" id="Katharine-Blodgett">
                    <p class="scientists-name">Katharine Blodgett</p>
                    <img class="scientists-img" src="../img/katharine-blodgett.jpg" alt="A scientist" width="100" height="100">
                </div>
            </li>
            <li class="scientists-item">
                <div class="scientists-thumb" id="Marie-Curie">
                    <p class="scientists-name">Marie Curie</p>
                    <img class="scientists-img" src="../img/marie-curie.jpg" alt="A scientist" width="100" height="100">
                </div>
            </li>
            <li class="scientists-item">
                <div class="scientists-thumb" id="Max-Planck">
                    <p class="scientists-name">Max Planck</p>
                    <img class="scientists-img" src="../img/max-planck.jpg" alt="A scientist" width="100" height="100">
                </div>
            </li>
            <li class="scientists-item">
                <div class="scientists-thumb" id="Nicolaus-Copernicus">
                    <p class="scientists-name">Nikolaus Copernikus</p>
                    <img class="scientists-img" src="../img/nikolaus-kopernikus.jpg" alt="A scientist" width="100" height="100">
                </div>
            </li>
            <li class="scientists-item">
                <div class="scientists-thumb" id="Sarah-Goode">
                    <p class="scientists-name">Sarah Goode</p>
                    <img class="scientists-img" src="../img/sarah-goode.jpg" alt="A scientist" width="100" height="100">
                </div>
            </li>
            <li class="scientists-item">
                <div class="scientists-thumb" id="Lise-Meitner">
                    <p class="scientists-name">Lise Meitner</p>
                    <img class="scientists-img" src="../img/lise-meitner.jpg" alt="A scientist" width="100" height="100">
                </div>
            </li>
        </ul>
        <ul class="scientists-information js-scientists-information">
            <li class="scientists-element">
                <button type="button" class="scientists-button" id="scientists-in-19-century">Які вчені народилися в 19 ст.</button>
            </li>
            <li class="scientists-element">
                <button type="button" class="scientists-button" id="albert-einstein-birthday">Знайти рік народження Albert Einshtein</button>
            </li>
            <li class="scientists-element">
                <button type="button" class="scientists-button" id="sort-scientists-alphabet">Відсортувати вчених за алфавітом</button>
            </li>
            <li class="scientists-element">
                <button type="button" class="scientists-button" id="surname-starts-with-c">Знайти вчених, прізвища яких починаються на на літеру “С” </button>
            </li>
            <li class="scientists-element">
                <button type="button" class="scientists-button" id="sort-scientists-age">Відсортувати вчених за кількістю прожитих років</button>
            </li>
            <li class="scientists-element">
                <button type="button" class="scientists-button" id="name-starts-without-a">Видалити всіх вчених, ім’я яких починається на “А”</button>
            </li>
            <li class="scientists-element">
                <button type="button" class="scientists-button" id="youngest-scientist">Знайти вченого, який народився найпізніше</button>
            </li>
            <li class="scientists-element">
                <button type="button" class="scientists-button" id="youngest-oldest-scientist">Знайти вченого, який прожив найдовше і вченого, 
який прожив найменше</button>
            </li>
            <li class="scientists-element">
                <button type="button" class="scientists-button" id="same-letter-name-surname">Знайти вчених, в яких співпадають перші літери імені і прізвища</button>
            </li>
        </ul>
    </div>
</section>