<section class="slider-section">
<h2 class="slider-title">Наша команда</h2>
<div class="slider-slider">
<button class="slider-btn slider-btn-l" id="backBtn">
    <img src="../icons/left-arrow.svg"></img>
</button>




<div class="slider-slide" hiden>
    <div class="slider-div">
<img class="slider-img" src="../img/photo_elezovetu.jpg"></img>
</div>
<h3 class="slider-subtitle">Елизавета Хонахбеева</h3>
<p class="slider-text">Виконала секцію футбол, секцію про вчених та додала
    базові стилі
</p>
</div>

<div class="slider-slide"  hidden>
<img class="slider-img" src="../img/photo_anastasiy.jpg"></img>
<h3 class="slider-subtitle">Анастасія Дудко</h3>
<p class="slider-text">Виконала секцію калькулятор та footer</p>
</div>

<div class="slider-slide"  hidden> 
<img class="slider-img" src="../img/photo_vlad.jpg"></img>
<h3 class="slider-subtitle">Владислав Лаврінець</h3>
<p class="slider-text">Виконав секцію Google динозавр та секцію введіть 3 числа</p>
</div>

<div class="slider-slide"  hidden>
<img class="slider-img" src="../img/photo_artema.jpg"></img>
<h3 class="slider-subtitle">Артем Гресько</h3>
<p class="slider-text">Виконав секцію калькулятору часу та секцію високосного калькулятора</p>
</div>

<div class="slider-slide"  hidden>
<img class="slider-img" src="../img/photo_nazar.jpg"></img>
<h3 class="slider-subtitle">Назар Притула</h3>
<p class="slider-text">Виконав секцію вгадай число та header</p>
</div>

<div class="slider-slide"  hidden>
<img class="slider-img" src="../img/photo_alina.jpg"></img>
<h3 class="slider-subtitle">Дакаскос Аліна</h3>
<p class="slider-text">Виконала секцію Камінь-Ножиці-Папір</p>
</div>

<div class="slider-slide"  hidden>
<img class="slider-img" src="../img/photo_ivan.jpg"></img>
<h3 class="slider-subtitle">Іван Мариш</h3>
<p class="slider-text">Виконав секцію Наша команда</p>
</div>

<button class="slider-btn slider-btn-r" id="nextBtn">
    <img src="../icons/right-arrow.svg" alt="">
</button>
<div class="slider-div-line">
<div class="slider-line" id="dotsWrap"></div>
</div>
</div>
</section>