 <article class="time">
    <h2 class="time__title">Калькулятор часу</h2>
    <div class="time__box">
      <input
        id="minutes"
        type="number"
        min="0"
        class="time__input"
        placeholder="Введіть хвилини"
      />
      <button
        id="timeBtn"
        class="time__btn"
        type="button"
        aria-label="конвертувати"
      >
        <img
          src="/sections/section3/img/magnifying_glass.svg"
          alt="
        magnifying glass"
        />
      </button>
      <p class="decoration">..........................</p>
      <output id="timeResult" class="time__result">0 дн. 00:00:00</output>
    </div>
  </article>