/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
/* @import url('./vite-promo.css'); */
@import url('./year-calculator-styles.css');

:root {
  /* fonts */
  --font-family: 'Montserrat Alternates', sans-serif;
  --second-family: 'Inter', sans-serif;
  --third-family: 'Sacramento', sans-serif;

  /* colors */
  --primary-color: #000000;
  --secondary-color: #7e7e7e;
  --third-color: #ffffff;
  --fourth-color: #d9d9d9;
  --fifth-color: #d7d7d7;
  --sixth-color: #039900;
  --seventh-color: #5abb58;
  --eighth-color: #6f6f6f;
  --ninth-color: #797979;
  --tenth-color: #7a7a7a;
  --eleventh-color: #bdbdbd;

  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
.container {
  width: 1090px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}
